.post_list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.post {
    width: 90vw;
    max-width: 1200px;
    padding: 10px;
    border-radius: 10px;
    background-color: #25425e;
}

.user_display {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}
